@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Barlow", sans-serif;
}
.sitebar {
  li {
    border-radius: 12px 0px 0px 12px;
    position: relative;
    color: #ea7c69;
    .circleTop {
      transform: rotate(90deg);
    }
    /* &::before {
      content: "";
      position: absolute;
      border-top-right-radius: 30px;
      background-color: #1f1d2b;
      box-shadow: 0 -8px 0 0 #252836;
      right: 0;
      bottom: -20px;
      width: 12px;
      height: 10px;
    } */
    /* &::after {
      content: "";
      position: absolute;
      box-shadow: 0 9px 0 0 #252836;
      border-bottom-right-radius: 30px;
      background-color: #1f1d2b;
      right: 0;
      top: -20px;
      width: 12px;
      height: 10px;
    } */
    &:nth-child(2) {
      background-color: #252836;
      color: #fff;
      position: relative;
      .icon {
        background-color: #ea7c69;
        box-shadow: 0px 4px 12px 0px rgba(234, 124, 105, 0.32);
      }
      &::before {
        content: "";
        position: absolute;
        border-top-right-radius: 30px;
        background-color: #1f1d2b;
        box-shadow: 0 -8px 0 0 #252836;
        right: 0;
        bottom: -20px;
        width: 12px;
        height: 20px;
      }
      &::after {
        content: "";
        position: absolute;
        box-shadow: 0 9px 0 0 #252836;
        border-bottom-right-radius: 30px;
        background-color: #1f1d2b;
        right: 0;
        top: -20px;
        width: 12px;
        height: 20px;
      }
    }
    &:hover {
      background-color: #252836;
      .icon {
        background-color: #ea7c69;
        color: #fff;
        box-shadow: 0px 4px 12px 0px rgba(234, 124, 105, 0.32);
      }
      &::before {
        content: "";
        position: absolute;
        border-top-right-radius: 30px;
        background-color: #1f1d2b;
        box-shadow: 0 -10px 0 0 #252836;
        right: 0px;
        bottom: -20px;
        width: 12px;
        height: 20px;
      }
      &::after {
        content: "";
        position: absolute;
        box-shadow: 0 7px 0px 0 #252836;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: #1f1d2b;
        /* background: rebeccapurple; */
        right: 0;
        top: -20px;
        width: 15px;
        height: 20px;
      }
    }
  }
}
.header {
  h2,
  p {
    font-family: "Barlow", sans-serif;
  }
}
.scrolDiv::-webkit-scrollbar {
  width: 5px;
}

.scrolDiv::-webkit-scrollbar-thumb {
  background: #ea7c69ab;
  border-radius: 5px;
}
.scrolDiv::-webkit-scrollbar-thumb:hover {
  background: #ea7c69;
}
.cartBtn {
  box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.3);
}
